/* font */
@font-face {
    font-family: Digital7;
    src: url(./font/Digital7Mono.ttf);
}

body {
    background-color:beige;
}

/* grid set up */
.grid_body {
    max-width: 30ch;
    max-height: 50ch;
    min-width: 30ch;
    min-height: 50ch;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(207, 101, 101);
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    /* grid-auto-rows:minmax(0, 1fr); */
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    padding: 25px;
    border-bottom: thick solid black;
    border-right: thick solid black;
    border-radius: 15px;
    width: 33vw;
    height: 69vh;
    grid-template-areas:
    'display display display display'
    'add     sub     mul     divide'
    'num7    num8    num9    exponent'
    'num4    num5    num6    clear'
    'num1    num2    num3    eval'
    'sign    num0    decimal eval';
}

#eval {
     grid-area: eval
    }

#display {
    /* display: flex; */
    font-family: Digital7;
    border-radius: 3px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3.125rem;
    padding: 0px 5px;
    background-color: whitesmoke;
    grid-area: display;
    border: 1px solid black;
}

/* ------------------------------------------------------------- */
button {
    background-color: rgb(18, 222, 154);
    border: 2px solid rgb(23, 224, 227);
    border-radius: 5px;
    box-shadow: 4px 4px;
    color: rgba(29, 40, 35, 0.605);
    font-weight: bolder;
}

button:active {
    background-color: rgb(131, 233, 199);
    transform: translate(3px, 3px);
    box-shadow: none;
}

.number {
    background-color: rgb(217, 230, 44);
}
.number:active {
    background-color: rgb(221, 225, 163);
}

.operator:focus {
    background-color: rgb(131, 233, 199);
    border: 2px double rgb(0, 0, 0);
}
#eval {
    background-color: rgb(164, 103, 221);
}
#eval:active {
    background-color: rgb(173, 120, 223);
}
#clear, #backspace {
    background-color: rgb(141, 138, 138);
}
#clear:active, #backspace:active {
    background-color: rgb(200, 194, 194);
}